

  <!-- Navigation -->
  <nav>
    <a href="index.html">Home</a> |
    <a href="cv.html">CV</a> |
    <a href="research.html">Research</a>
  </nav>

  <!-- Flex container: sidebar on left, main on right -->
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2>Hongbin (Elijah) Huang</h2>
      <ul>
        <img
          src="assets/photo.jpg"
          alt="Hongbin (Elijah) Huang"
          class="profile-photo"
        >
        <li><strong>Affiliation:</strong> Duke University</li>
        <li><strong>Email:</strong>
          <a href="mailto:hongbin.huang@duke.edu">hongbin.huang@duke.edu</a>
        </li>
        <li><strong>LinkedIn:</strong>
          <a href="https://www.linkedin.com/in/hongbin-huang-9b79232ba/" target="_blank">Hongbin (Elijah) Huang</a>
        </li>
        <!-- <li><strong>Office:</strong> Sanford School of Public Policy, Duke</li>  -->
      </ul>
    </aside>
